@import '~vuetify/src/styles/styles.sass';

/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/karla-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('~/assets/fonts/karla-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~/assets/fonts/karla-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('~/assets/fonts/karla-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('~/assets/fonts/karla-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~/assets/fonts/karla-v15-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
  }
  
  /* karla-700 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~/assets/fonts/karla-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('~/assets/fonts/karla-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~/assets/fonts/karla-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('~/assets/fonts/karla-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('~/assets/fonts/karla-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~/assets/fonts/karla-v15-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
  }
  

/* vollkorn-regular - latin-ext_latin */
@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/vollkorn-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-regular.svg#Vollkorn') format('svg'); /* Legacy iOS */
  }
  
  /* vollkorn-700 - latin-ext_latin */
  @font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700.svg#Vollkorn') format('svg'); /* Legacy iOS */
  }
  
  /* vollkorn-italic - latin-ext_latin */
  @font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/vollkorn-v17-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-italic.svg#Vollkorn') format('svg'); /* Legacy iOS */
  }
  
  /* vollkorn-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~/assets/fonts/vollkorn-v17-latin-ext_latin-700italic.svg#Vollkorn') format('svg'); /* Legacy iOS */
  }
  

/* .headline {
    font-family: 'Barlow', sans-serif !important;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    padding-bottom: 0.25rem;
    color: #224026;
} */

.v-application {
    font-family: $body-font !important;
    .headline {
        font-family: $title-font, sans-serif !important;
        // font-weight: 700;
        text-transform: uppercase;
        font-size: 2rem !important;
        padding-bottom: 0.25rem;
        color: #224026;
        font-weight: 700;
    }
    .subtitle {
        font-family: $body-font, serif !important;
        font-style: italic;
        font-size: 1rem !important;
        padding-bottom: 0.25rem;
        color: #224026 !important;
    }
    .primary--text {
        color: #224026 !important;
        caret-color: #224026 !important;
    }
}

.container {
    padding: 2rem !important;
}

.spacer {
    height: 1.5rem;
}

.v-list-item__icon {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    display: block;
    text-align: center;
}

.v-application .v-list-item-content {
    font-family: $body-font !important;
}

.v-expansion-panel-header {
    padding: 0 !important;
}

.v-expansion-panel::before {
    box-shadow: none !important;
}

.v-expansion-panel--active > .v-expansion-panel-header {
    min-height: 48px !important;
}

.growthtitle {
    display: grid;
    grid: auto / 1fr 1fr 1fr;
}

.lightgrey {
    color: silver;
    text-align: center !important;
}
.italic {
    font-style: italic;
}

/* .v-list-item__icon {
    width: 1.5rem !important;
    margin-right: 1rem !important;
}

.v-item-group {
    display: flex !important;
    align-items: center !important;
}

.svg-inline--fa {
    margin: 0 auto !important;
} */

.link {
    cursor: pointer;
    text-decoration: underline;
}

.svg-inline--fa {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.v-text-field .v-input__control {
    border-radius: 0;
}

h1 {
    font-family: $title-font;
}