// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$font-size: 3rem;
$title-font: 'Barlow', sans-serif;
$body-font: 'Lora', serif;
$dgreen: #224026;